# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

/.github            export-ignore
/.wordpress.org     export-ignore
/assets/screenshots export-ignore

/.distignore        export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.php_cs            export-ignore
readme.txt          export-ignore
